body {
    position: absolute;
    width: 1440px;
    height: 806px;
    background-color: rgb(238,238,238);
    padding-bottom: 47px;
}

.block {
    position: static;
    width: 512px;
    height: 750px;
    background-color: white;
    margin: 0 auto;
    padding-top: 20px;
    box-shadow: 0 2px 2px 2px #d5d5d5;
    text-align: center;
    padding-bottom: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 1px;
}

.img img {
    position: static; left: 0; right: 0; margin: 0 auto; width: 119px; height: 150px;
    border-radius: 10px 10px 10px 10px;
}

.alter_ego {
    text-align: left;
    border-bottom: 1px solid grey;
    padding: 5px;
    margin-left: 45px;
    margin-right: 45px;
}

.reasons {
    text-align: left;
    border-bottom: 1px solid grey;
    padding: 5px;
    margin-left: 45px;
    margin-right: 45px;
}

.contacts {
    text-align: left;
    border-bottom: 1px solid grey;
    padding: 5px;
    margin-left: 45px;
    margin-right: 45px;
}

.character {
    text-align: left;
    padding: 5px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 10px;
}

p {
    line-height: 0.9;
}

.p1 {
    line-height: 1;
}
