body {
	width: 1260px;
	height: 768px;
	background-color: white;
	margin-bottom: 40px;
}

.parent {
    position: static;
    top: 10;
    left: 10;
    text-align: center; 
    overflow: auto;
    background-color: #eeeee0;
    border-bottom: 5px groove black;
}

.block {
	position: static;
	text-align: center; 
	background-color: white;
	margin-left: 420px;
	width: 450px;
	height: 750px;
	margin-top: 5px;
	margin-bottom: 40px;
	padding: 10px;
	box-shadow: 0px 1px 1px 1px;
}

h2 {
	text-align: center;
	margin-bottom: 1px;
}

.class_1 {
	text-align: left;
    border-bottom: 1px solid grey;
    padding: 5px;
    margin-left: 45px;
    margin-right: 45px;
}

.class_2 {
	text-align: left;
	border-bottom: 1px solid grey;
	padding: 5px;
	margin-left: 45px;
	margin-right: 45px;
}

.class_3 {
	text-align: left;
	border-bottom: 1px solid grey;
	padding: 5px;
	margin-left: 45px;
	margin-right: 45px;
}

.class_4 {
	text-align: left;
	padding: 5px;
	margin-left: 45px;
	margin-right: 45px;
	margin-top: 10px;
}

p {
	line-height: 0.7;
}

.p1 {
	line-height: 1;
}
